<div class="container">
    <div class="row bg-white m-5 justify-content-center">
        <h1 class=" text-warning">Services</h1>
    </div>
    <div class="row bg-white m-5">
        <div class="col-4">
            <img src="/assets/img/social-services-social-services-icon-png-image-with-transparent-services-png-840_859.png" class="img-fluid " >
        </div>
        <div class="col-4">
            <img src="/assets/img/2.png" class="img-fluid " >
        </div>
        <div class="col-4">
            <img src="/assets/img/3.jpg" class="img-fluid " >
        </div>
    </div>
</div>